*{
    margin: 0;
    padding: 0;
    
}

.navegacaosuperior{
    background: linear-gradient(90deg,rgb(181, 122, 236),rgb(146, 202, 240));
    overflow: hidden;   
}

.navegacaosuperior ul{
    list-style-type: none;
    /* position: relative; */
}

.navegacaosuperior  ul  li  a{
    text-decoration: none;
    color: white;
    max-height: 100px;
    float: left;
    padding: 10px;
    overflow: hidden; 
      
}

.navegacaosuperior ul li a:hover, .dropdown .but:hover{
    background-color: rgb(81, 0, 156);
    cursor: pointer;
}

.dropdown{
    float: left;
    padding: 5px;
}


.dropdown .but{
    padding: 5px;
    /* cursor: pointer; */
}

.dropdown .links{
    background-color: blueviolet;
    max-height: 0px;
    position: absolute;
    overflow: hidden;

}

.dropdown:hover .links{
    max-height: 400px;
    transform: translateY(0em);
    transition-duration: 20s;


}

/* 
.navegacaosuperior li ul li {
    overflow:hidden;
    height:0;
}
.navegacaosuperior ul > li:hover ul li {
    height:36px;
} */

/* .cont{
    background-color: red;
    width: 100%;
    height: 300px;
} */
