*{
    margin: 0px;
    padding: 0px;
}
.logo{
    background:linear-gradient(rgb(181, 122, 236),rgb(146, 202, 240));
    height: 50px;
    
    
}
.navegacaosuperior{
    box-shadow: 1px 2px 4px rgba(0,0,0,.5); /*sombra */
    background:rgb(146, 202, 240);
    overflow: hidden;   
}

.navegacaosuperior ul{
    list-style-type: none;

}

.navegacaosuperior  ul  li  a{
    text-decoration: none;
    color: white;
    max-height: 100px;
    float: left;
    padding: 10px;
    overflow: hidden; 
      
}

.navegacaosuperior ul li a:hover, .dropdown .but:hover{
    background-color: rgb(81, 0, 156);
    cursor: pointer;
}

.dropdown{
    float: left;
    padding: 5px;
}


.dropdown .but{
    padding: 5px;

}

.dropdown .links{
    background-color: blueviolet;
    max-height: 0px;
    position: absolute;
    overflow: hidden;

}

.dropdown:hover .links{
    max-height: 400px;
    transform: translateY(0em);
    transition-duration: 2s;


}
/* ------------------CONTAINER--------------------- */

.container{
    height: 100px;
    margin-top: 5px;
    animation-name: example;
    animation-duration: 4s;


}


.conteudo{
    width: 60%;
    float: left;
}

.imagem{
    display: flex;
    
    justify-content: center;
    animation: imagem 2s infinite;
    
}
.img{
    height: 10%;
    width: 10%;
}


@keyframes imagem{

    0%{transform: translate(0px, px) rotate(360deg)}
    25%{transform: translate(0px, 150px) rotate(360deg)}
    50%{transform: translate(100px, 0px) rotate(360deg)}
    


/* ------------------NAVEGADOR A ESQUEDA--------------------- */
}

.navegacaoesqueda {
    background: rgb(190, 146, 231); 
         
}

.menu li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    padding: 10px;   
}

.menu li a:hover{
    background: rgb(82, 7, 151)

}

@media screen and (min-width:780px){
    .navegacaoesqueda{
        float: left;
        width: 20%;
        height: calc(100vh - 67px);
        background: linear-gradient(rgb(181, 122, 236),rgb(146, 202, 240));
        box-shadow: 1px 2px 4px rgba(0,0,0,.5)
        
    }  
}


/* ---------------------BARRA DIREITA----------------------- */

.barradireita {
    background:linear-gradient(rgb(181, 122, 236),rgb(146, 202, 240));
       
}

p{
    padding: 10px;
    color: white
}


@media screen and (min-width:780px){
    .barradireita{
        float: right;
        width: 20%;
        height: calc(100vh - 67px);
        background: linear-gradient(180deg,rgb(181, 122, 236),rgb(146, 202, 240));
        box-shadow: 1px 2px 4px rgba(0,0,0,.5);
        
    }  
}