* {
    margin: 0;
    padding: 0;
}

header {
    width: 100wh;
    height: 50px;
    padding: 8px 15px;
}

.texto {
    position: relative;
    bottom: 30px;
    text-align: right;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 14px;
}

body {
    background-color: white;
}

.navegador-superior {
    background-color: #4CAF50;
    overflow: auto;
    box-shadow: 0 2px 3px #909090;
}

.navegador-superior ul {
    list-style: none;
}

.navegador-superior>ul>li>a,
.dropdown .dropdown-button {
    display: block;
    text-decoration: none;
    color: white;
    float: left;
    padding: 17px;
    cursor: pointer;
    font-size: 17px;
    font-family: sans-serif;
    letter-spacing: 4px;
}

.navegador-superior>ul>li>a:hover,
.dropdown .dropdown-button:hover {
    background-color: white;
    color: black;
}

.dropdown {
    float: left;
}

.dropdown-content {
    position: absolute;
    background-color: #ddd;
    width: 400px;
    display: none;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropdown-button {
    float: none;
}

.dropdown-content>ul {
    list-style: none;
}

.dropdown-content>ul>li>a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
}

.dropdown-content>ul>li>a:hover {
    background-color: #ccc;
}

.navegador-lateral {
    height: 200vh;
    width: 230px;
    float: left;
    box-shadow: 0 2px 5px #909090;
}

.navegador-lateral>div>ul {
    list-style: none;
}

.navegador-lateral>div>ul>li>a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0 20px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.navegador-lateral>div>ul>li>a:hover {
    background-color: #ddd;
}

nav p {
    padding: 20px;
    font-family: sans-serif;
    font-size: 20px;
}

img {
    width: 260px;
    height: 40px;
    margin-top: 10px;
    clear: right;
}
