*{
    margin: 0;
    padding: 0;
}

.contaner{
    /* depois apagar o tamanho e a cor */
    /* background-color: rgb(123, 160, 108);
    width: 100vw; */
    overflow: hidden;
    display: block;

}

.contaner .contatos{
    float: left;
    background-color: rgb(165, 43, 43);
    height: 100vh;
    width: 30%;
}

.contaner .menssagens{
    float: left;
    background-color: cornflowerblue;
    height: 100vh;
    width: 70%;
}

.contaner .contatos .usuario{
    background-color: rgb(182, 23, 23);
    height: 70px;
    width: 100%;
}

.contaner .contatos .pesquisa{
    background-color: rgb(81, 161, 121);
    height: 50px;
    width: 100%;
}

.contaner .contatos .usuarios{
    background-color: rgb(63, 96, 243);
    height: 100vh;
    width: 100%;

}

input{
    position: relative;
    height: 30px;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.cardusua{
    background-color: aqua;
    width: 100%;
    height: 100px;
    padding: 5px;
}


.usuario{
    overflow: hidden;
}

.foto{
    float: left;
    height: 100px;
    width: 100px;
    background-image: url(animaniacs-32250.jpg);
    background-size: 100%;
    border-radius: 50%;
}




.nomeusua{
    float: left;
    height: 100px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    
    
}

.horadeenviou{
    float: left;
    height: 100px;
    width: 25%;

}

