*{
    margin: 0;
    padding: 0;
}

.contaner{
    /* depois apagar o tamanho e a cor */
    /* background-color: rgb(123, 160, 108);
    width: 100vw; */
    overflow: hidden;
    display: block;

}

.contaner .contatos{
    float: left;
    background-color: rgb(165, 43, 43);
    width: 30%;
}

.contaner .menssagens{
    float: left;
    background-color: cornflowerblue;
    height: 100%;
    width: 70%;
}

.contaner .contatos .usuario{
    background-image: linear-gradient(to right, #77c9d4 , #57bc90);
    height: 70px;
    width: 100%;
}

.contaner .contatos .pesquisa{
    background-color:#015249;
    height: 50px;
    width: 100%;
}

.contaner .contatos .usuarios{
    background-color: rgb(63, 96, 243);
    height: 100%;
    width: 100%;

}

input{
    position: relative;
    height: 30px;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.cardusua{
    background-color:#57bc90;
    width: 100%;
    height: 90px;
    
}


.usuario{
    overflow: hidden;
}

.foto{
    float: left;
    padding: 8px;
    
}

.foto img{
    height: 70px;
    width: 70px;
    border-radius: 50%;


}



.nomeusua{
    float: left;
    height: 80px;
    width: 50%;
    color: white;
    margin: 5px;
    transform: translate(-0%, 15%);
    font-family: roboto;
    
    
    
}

.horadeenviou{
    float: left;
    height: 80px;
    width: 19%;
    margin: 5px;
    transform: translate(-0%, 15%);
}

.horadeenviou h3{
    text-align: right;
    font-family: roboto;
    font-size: 15px;
    color: white;

}


@font-face {
    font-family: Roboto;
    src: url('./roboto/Roboto-Light.ttf');
}


.mgsusua{
    background-color:#57bc90;
    height: 70px;
    width: 100%;
}

.cardusua:hover{
    background-color: #77c9d4
}